DB_PASS=iEarwAbh84Oz3K0k
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIICXQIBAAKBgQC7o8TWUpsVeiSaAbjbPXD6TZ4ArLl+RI7yZVnSHvJT5lPrqH3b\ndIOsrLCyS9h5qD6Pqeq4jO0XqWg3fpcqV/vHa3vfbxw2XEdOepk+Z1q2h3AAHm3o\ne5K8daXUY81bNkrm5JdekSLgIj24H5ehDlmBowNotULbGXVHp1+Ns7V/cwIDAQAB\nAoGBAKsd4IXrc06UwwhHhcM6NuutGOhYnBjQgOQBFXaPjkKBDAse7xfRG7u/CKyw\nikv36IWvWUTQD+/CKC5jnYuaDRrx03QOMkLbRIkJuHRCzeCihdqI0r2LnBjDYkHH\nqBP2pY4H4gtJMULWxiDkel/nSGciXvt671RbrrO0OCWa7PWRAkEA3z2bVMmq53Oc\nBqfFXSEYz6NjFwHvb26pB0x4h9sBM1pGwUs0Wmqpc5kZDmlR6FtN+8IzOPCrfppQ\n0TGC7A2mxQJBANcswZB0285M9UFZqWBufg/n+JZi/kntAdzmBQ+wv8XRe4apsQyL\nDLJJ0Lek+VzNO4OozqRo8Tew07e1ZbyrsNcCQQCvka4WErzcZqnw+gVYZu0yb9dA\ngv8h7i/1U4j/n5fkIT3ASzsTWQuHpIJ2ORJ34UcFlwfd4jmdyhOBUqUarOnZAkBV\nEba9G9ZC654S5hXWsBhaxYU8P4r1QyR3ZuEdYO2Qkc9aYABFSzwLyK8hy7FihSlA\nVh7MVUj4kYpCmQ7N1rslAkAN9zW2msiqIonhlFlZkua46ev7ejhKYXyQLXmY7D8N\nIWEk9EuarfglkKM2ph8JXbFryPksZXDEreHtJ0KKPwcD\n-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC7o8TWUpsVeiSaAbjbPXD6TZ4A\nrLl+RI7yZVnSHvJT5lPrqH3bdIOsrLCyS9h5qD6Pqeq4jO0XqWg3fpcqV/vHa3vf\nbxw2XEdOepk+Z1q2h3AAHm3oe5K8daXUY81bNkrm5JdekSLgIj24H5ehDlmBowNo\ntULbGXVHp1+Ns7V/cwIDAQAB\n-----END PUBLIC KEY-----"